* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
h1 {
  text-align: center;
  margin: 50px auto 0px;
  max-width: 600px;
  font-size: 90px;
  color: wheat;
}
h2{
    margin-top: 80px;
    text-align: center;
    color: wheat;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
.button-container .rps-btn{
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  transition: 1s;
}
.button-container .rps-btn:hover {
  background-color: grey;
}
.result-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  font-size: 2rem;
}